//
   Created by zf7he on 2017/06/05.

div#listPanel
    table
        - var data = {"1": {"価格": 10,"備考": "値切った結果","品目": "さけ","購入場所": "イケヤ","日付": "20160721"},"2": {"価格": 50,"備考": "値切った結果","品目": "さんま","購入場所": "イケヤ","日付": "20160321"},"3": {"価格": 800,"備考": "値切った結果","品目": "あご","購入場所": "イケヤ","日付": "20160321"},"4": {"価格": 2300,"備考": "値切った結果","品目": "こんぐり","購入場所": "イケヤ","日付": "20160321"},"5": {"価格": 4000,"備考": "値切った結果","品目": "はまち","購入場所": "イケヤ","日付": "20160721"},"6": {"価格": 1800,"備考": "値切った結果","品目": "さんま","購入場所": "イケヤ","日付": "20160721"},"7": {"価格": 100,"備考": "値切った結果","品目": "あじ","購入場所": "イケヤ","日付": "20160721"},"8": {"価格": 12000,"備考": "値切った結果","品目": "はも","購入場所": "イケヤ","日付": "20160721"}};
            tr(style="font-size: 1.1em; background-color: #222")
                td 品目
                td 価格
                td カテゴリー
                td 日付
                td 購入場所
                td 備考
        each val, key in data
            tr
                td
                    input(type="text" value=val["品目"])
                td
                    input(type="text" value=val["価格"] style="text-align: right;")
                td
                    input(type="text" value="カテゴリー")
                td
                    input(type="text" value=val["日付"])
                td
                    input(type="text" value=val["購入場所"])
                td
                    input(type="text" value=val["備考"])
                td
                    input(type="button" value="更新")
